@media screen and (max-width: 500px) {
    #descripcion {
        text-align: start;
    }
    #encabezado {
        margin-top: 75px;
        text-align: center;
    }
    header > img {
        width: 75px;
        height: 75px;
    }
    li > a {
        padding: 10px 10px;
    }
}
@media screen and (max-width: 768px){
    header > img {
        width: 100;
    }
    header{
        text-align: center;
    }
    li > a {
        padding: 20px;
    }
    #encabezado {
        margin-top: 100px;
        text-align: center;
    }
    * {
        font-size: 20px;
    }
    h1 {
        font-size: 40px;
    }
    h2, h3 {
        font-size: 30px;
    }
    .Proyectos {
        margin-top: 75px;
    }
    #contacto {
        margin-top: 100px;
    }
}
