header {
    padding-left: 20%;
}
header > h1 {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
}    
header > img {
    width: 150px;
}
* > h3{
    font-family: 'Merriweather', serif;
    color: rgb(200,200,201);

}

* > img {
    width: 200px;
}
* {
    font-family: 'Merriweather', serif;
    font-size: 26px;
}
* > h1 , h2{
    color: rgb(242, 135, 115)
}